{{> navbar}}
<main>
    <div class="list">
        <h1 class="title">{{title}}</h1>
        {{#if productsExist}}
        {{#each products}}
            <div class="products">
                <div class="product-img"><img src="{{this.thumbnail}}"/></div>
                <span>{{this.id}}</span>
                <span>{{this.title}}</span>
                <span>{{this.price}}</span>
            </div>
        {{/each}}
        {{else}}
            <div>No se encontraron productos</div>
        {{/if}}
    </div>
</main>
{{> footer}}