html
    head
        title='Listado de productos'
        style
            include styles.css
    body
        title="Listado de productos"
        div
        if productsExist
            for item in products
                div
                    p=item.id
                    p=item.title
                    p=item.price
                    img(src=item.thumbnail)
        else 
            h1="No hay productos"