<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <main>
      <div class="toLoad">
        <h1 class="title">Carga de productos</h1>
        <form class="form" onsubmit="return sendProduct(this)">
          <label for="title">Nombre:</label>
          <input type="text" name="title" id="title">
          <label for="price">Precio:</label>
          <input type="text" name="price" id="price">
          <label for="thumbnail">Imagen:</label>
          <input type="text" name="thumbnail" id="thumbnail">
          <input class="button" type="submit" value="Cargar producto">
        </form>
      </div>
      <div class="list" id="products">
        <h1 class="title">Listado de productos</h1>
        <% if(productsExist) {%>
          <% products.forEach((item)=>{ %>
            <div class="products">
                <div class="product-img"><img src="<%=item.thumbnail %>"/></div>
                <span><%=item.id%></span> 
                <span><%=item.title%></span>
                <span><%=item.price%></span>
            </div>
          <% }) %>
        <% } else { %>
          <div class="products">
            <p class="title-empty">No hay productos</p>
          </div>
        <% } %>
      </div>
      <div class="messajes">
        <h1 class="title">Centro de mensajes</h1>
        <form class="form" onsubmit="return sendMessaje(this)">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email">
          <label for="messaje">Mensaje:</label>
          <input type="text" name="messaje" id="messaje">
          <input class="button" type="submit" value="Enviar">
        </form>
        <div class="messajes__list" id="messajes__list">
          <h3>Chat</h3>
          <% if(messajesExist) {%>
            <% messajesList.forEach((item)=>{ %>
              <div class="messajes__list--messaje">
                <span><%=item.email%></span>
                <span><%=item.date%></span>
                <span><%=item.messaje%></span>
              </div>
            <% }) %>
          <% } else { %>
            <div class="messajes__list--messaje">
              <h5>No hay mensajes</h5>
            </div>
          <% } %>
        </div>
      </div>
    </main>
    <%- include('../partials/footer'); %> 
  </body>
</html>