<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <main>
      <div class="container--welcome">
        <h3 class="title">¡Bienvenido/a <%=username%>!</h3>
        <button class="logout" id="logout">Desloguear</button>
      </div>
      <div class="toLoad">
        <h2 class="title">Carga de productos</h1>
        <form class="form" onsubmit="return sendProduct(this)">
          <label for="title">Nombre:</label>
          <input type="text" name="title" id="title">
          <label for="price">Precio:</label>
          <input type="text" name="price" id="price">
          <label for="thumbnail">Imagen:</label>
          <input type="text" name="thumbnail" id="thumbnail">
          <input class="button" type="submit" value="Cargar producto">
        </form>
      </div>
      <div class="list" id="products">
        <h2 class="title">Listado de productos</h2>
        <% if(products) {%>
          <% products.forEach((item)=>{ %>
            <div class="products">
                <div class="product-img"><img src="<%=item.thumbnail %>"/></div>
                <span><%=item.id%></span> 
                <span><%=item.title%></span>
                <span><%=item.price%></span>
            </div>
          <% }) %>
        <% } else { %>
          <div id="products--empty" class="products">
            <p class="title-empty">No hay productos</p>
          </div>
        <% } %>
      </div>
      <div class="messages">
        <h2 class="title">Centro de mensajes</h2>
        <form class="form" onsubmit="return sendMessage(this)">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email">
          <label for="nombre">Nombre:</label>
          <input type="nombre" name="nombre" id="nombre">
          <label for="apellido">Apellido:</label>
          <input type="apellido" name="apellido" id="apellido">
          <label for="edad">Edad:</label>
          <input type="edad" name="edad" id="edad">
          <label for="alias">Alias:</label>
          <input type="alias" name="alias" id="alias">
          <label for="avatar">Avatar:</label>
          <input type="avatar" name="avatar" id="avatar">
          <label for="message">Mensaje:</label>
          <input type="text" name="text" id="text">
          <input class="button" type="submit" value="Enviar">
        </form>
        <div class="messages__list" id="messages__list">
          <h3 id="chat"></h3>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.browser.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/index.js"></script>
    <%- include('../partials/footer'); %> 
  </body>
</html>