<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <main>
      <div class="list">
        <h1 class="title"><%=title%></h1>
        <% if(productsExist) {%>
          <% products.forEach((item)=>{ %>
            <div class="products">
                <div class="product-img"><img src="<%=item.thumbnail %>"/></div>
                <span><%=item.id%></span> 
                <span><%=item.title%></span>
                <span><%=item.price%></span>
            </div>
          <% }) %>
        <% } else { %>
          <div class="products">
            <p class="title-empty">No hay productos</p>
          </div>
        <% } %>
      </div>
    </main>
      
    <%- include('../partials/footer'); %> 
  </body>
</html>
