<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <main>
      <div class="list" id="products">
        <h1 class="title">Listado de productos</h1>
            <div class="products">
                <div class="product-img"><img src="<%=url %>"/></div>
                <span><%=id%></span> 
                <span><%=name%></span>
                <span><%=price%></span>
            </div>
      </div>
    </main>
    <%- include('../partials/footer'); %> 
  </body>
</html>