<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <main>
      <div class="list" id="products">
        <h2 class="title">Información proyecto</h2>
        <div class="products" style="color: #f5f5f5"><%=arg%></div> 
        <div class="products" style="color: #f5f5f5"><%=so%></div>
        <div class="products" style="color: #f5f5f5"><%=node%></div>
        <div class="products" style="color: #f5f5f5"><%=memory%></div> 
        <div class="products" style="color: #f5f5f5"><%=path%></div>
        <div class="products" style="color: #f5f5f5"><%=pid%></div>
        <div class="products" style="color: #f5f5f5"><%=filename%></div>
      </div>
    </main>
    <%- include('../partials/footer'); %> 
  </body>
</html>